
.formulario{
    max-width: 550px;
    margin-top: 50px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 10px;
}
.checkbox{
    margin-top: 10px;
    border-radius: 10px;
}
.boton{
    background-color: rgba(15, 185, 236, 0.479);
    margin: 20px;
    max-width: 80px;
}
.contenedor-curso{
    align-items: center;
}